body {
    margin: 0;
    padding: 0;
    background-color: rgb(180, 56, 56);
}

header {
    text-align: center;
    background-color: tomato;
    color: white
}

h1 {
    margin: 0;
    padding: 20px;
}

h2 {
    border: 5px dashed white;
    background-color: tomato;
    padding: 10px;
}

img {
    width: 250px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

main, footer {
    margin-left: 20px;
}

footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
}